*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(135deg, $color-gold, $color-gold--light, $color-gold--dark);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}