%max-size {
    width: calc(100% - (1.8rem * 2));
    max-width: 50rem;
    height: auto;
    max-height: calc(100% - (1.8rem * 2));
}

%btn {
    border: none;
    background: none;
    color: $color-white;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    transition: all .3s;
    outline: none;
}

%btn-background {
    @include flexbox();
    background: $color-black;
    width: max-content;
    position: relative;
    transition: all .3s;
}

// %btn-hover {

// }

%btn-container {
    position: relative;
    padding-bottom: 2rem;
    // border-bottom: 2rem solid $color-white;
}