// Colors
$color-white: #ffffff;
$color-black: #333333;

$color-gold--light: #FCF6BA;
$color-gold: #BF953F;
$color-gold--dark: #B38728;

// Effects
$box-shadow: 0 5px 10px $color-black;
$border--black: 1px solid $color-black;
$btn-animation: wiggle 6s 2s linear infinite;

// Fonts
$fontsize--text: 1.6rem;